.total-zone {
  margin-top: 4vw;
  padding: 0 50px 30px 50px;
}
.total-zone h5 {
  padding-top: 26px;
  padding-bottom: 10px;
  font-size: 26px;
}
.v-line {
  border: .5px solid #a1a1a1;
  margin-top: 28px;
  height: 72px;
}
#total_fuel, #total_total {
  font-size: 30px;
}
@media (min-width: 1921px) {
  .total-zone {
    margin-top: 40px;
    padding: 0 50px 50px 50px;
  }
  .total-zone h5 {
    padding-top: 26px;
    padding-bottom: 10px;
    font-size: 36px;
  }
  #total_fuel, #total_total {
    font-size: 40px;
  }
}
@media (max-width: 426px) {
  .total-zone {
    padding-left: 21px;
    padding-right: 21px;
  }
  .v-line {
    margin-top: 23px;
    height: 70px;
  }
  .total-zone h5 {
    font-size: 23px;
    padding-top: 32px;
    padding-bottom: 15px;
  }
}
@media (max-width: 376px) {
  .total-zone {
    padding-left: 13px;
    padding-right: 13px;
  }
}
@media (max-width: 320px) {
  .total-zone {
    padding-left: 6px;
    padding-right: 6px;
  }
}
