#people {
  margin-top: 2vw;
}
.people-block {
  position: relative;
  width: 33%;
  align-items: flex-end;
  margin-top: 1vw;
  cursor: pointer;
}
.people-block:hover > .people-back {
  animation: wh-103 .5s;
  animation-fill-mode: forwards;
}
.people-block:hover > .people {
  animation: wh-106 .5s, drop-shadow .5s;
  animation-fill-mode: forwards;
  transform-origin: bottom right;
}
.people {
  float: right;
  width: 50%;
  margin-top: 2vw;
  animation: wh-106-alt .5s, drop-shadow-alt .3s;
  transform-origin: bottom right;
}
.people-back {
  position: absolute;
  bottom: 0;
  top: auto;
  left: 0;
  right: auto;
  height: 63%;
  width: 95%;
  z-index: -1;
  background-color: rgb(234, 237, 240);
  border-radius: 20px 20px 0 0;
  padding-top: 6%;
  padding-left: 7%;
  animation: wh-103-alt .5s;
  transform-origin: center center;
}
.people-back p {
  width: 50%;
  font-size: 1.7vw;
  line-height: 1.8vw;
  font-family: myriadpro-regular;
}
.tablePeople {
  display: flex;
  justify-content: space-between;
  margin-top: -3vw;
  width: 100%;
  flex-wrap: wrap;
}
.head-people {
  width: 29vw;
}
@media (min-width: 1921px) {
  .head-people {
    width: 482px;
  }
  .people-back p {
    font-size: 33px;
    line-height: 35px;
  }
}
@media (max-width: 1186px) {
  .head-people {
    width: 35vw;
  }
  .people-back p {
    line-height: 1.8vw;
    font-size: 1.9vw;
  }
}
@media (max-width: 900px) {
  .head-people {
    margin-top: 13vw;
    margin-left: 46vw;
    width: 30vw;
    font-size: 4.5vw;
    line-height: 4.4vw;
  }
  .pi {
    margin-right: 44vw;
    margin-top: -6vw;
  }
  .tablePeople {
    margin-top: -20vw;
  }
  .people-block {
    width: 49%;
  }
  .people-back p {
    line-height: 2.5vw;
    font-size: 2.9vw;
  }
  .people {
    width: 40%;
  }
  .people-back {
    height: 73%;
  }
}
@media (max-width: 500px) {
  .head-people {
    margin-top: 6vw;
    margin-left: 0;
    width: 100%;
    font-size: 7.5vw;
    line-height: 8.4vw;
  }
  .tablePeople {
    margin-top: 0;
  }
  .people-block {
    width: 100%;
  }
  .pi {
    margin-right: 0;
    margin-top: -6vw;
  }
  .people-back p {
    line-height: 5.5vw;
    font-size: 6vw;
  }
}
