.bttn {
  height: 5vw;
  text-align: center;
  font-size: 2vw;
  font-family: montserrat-regular;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  border-radius:20px;
}
/*.bttn:hover, .bttn:active {
  box-shadow: inset -4px -6px 8px rgba(0, 0, 0, 0.2);
}*/
.bttn.grey {
  background-color: #434343;
}
.bttn.grey:hover, .bttn.grey:active {
  background-color:#686767;
}
.bttn.green {
  background-color:#73aa37;
}
.bttn.green:hover {
  background-color: #FBA834;
}
.bttn.grey:hover, .bttn.grey:active {
  background-color:#686767;
}
.bttn.orange {
  background-color: #FBA834;
}
.bttn.orange:hover, .bttn.orange:active {
  background-color:#E39B36;
}
.bttn-block {
  height: 100%;
  width: 33.333333%;
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  font-size: 2.6vw;
  font-family: montserrat-extra-bold;
  font-weight: bold;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  color: #c4c4c4;
}
.bttn-block.left {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-right-width: 2px;
}
.bttn-block.right {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-left-width: 2px;
}
.bttn-block.active {
  --tw-bg-opacity: 1;
  background-color: rgb(115,170,55, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}
