.green-zone {
  height: 12vw;
  margin-top: 4vw;
  margin-bottom: 10vw;
  overflow: hidden;
}
.green-zone h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #ffffff;

}
.green-zone img {
  position: sticky;
}
.gp {
  width: 8vw;
  margin-top: 1vw;
  margin-left: 3vw;
}
.nm {
  width: 7vw;
  margin-top: -2vw;
  margin-left: 12vw;
}
.rn {
  width: 9vw;
  margin-top: -9vw;
  margin-left: 21vw;
}
.tn {
  width: 11vw;
  margin-top: 2vw;
  margin-right: 15vw;
}
.bn {
  width: 8vw;
  margin-top: -1vw;
  margin-left: 13vw;
}
@media (max-width: 1024px) {
  .green-zone {
    margin-top: 5vw;
    margin-bottom: 11vw;
  }
}
@media (max-width: 768px) {
  .green-zone {
    height: 14vw;
    margin-top: 6vw;
    margin-bottom: 12vw;
  }
  .green-zone h2 {
    font-size: 3vw;
    line-height: 3.1vw;
  }
  .gp {
    width: 10vw;
  }
  .nm {
    width: 9vw;
    margin-top: -3.5vw;
    margin-left: 13vw;
  }
  .rn {
    width: 11vw;
    margin-top: -11vw;
    margin-left: 23vw;
  }
  .tn {
    width: 13vw;
    margin-top: 2vw;
    margin-right: 13vw;
  }
  .bn {
    width: 10vw;
    margin-top: -1vw;
    margin-left: 12vw;
  }
}
@media (max-width: 426px) {
  .green-zone {
    height: 22vw;
    min-height: 95px;
    margin-top: 10vw;
    margin-bottom: 15vw;
  }
  .green-zone h2 {
    font-size: 4vw;
    line-height: 3.6vw;
  }
  .gp {
    width: 14vw;
    margin-top: 1vw;
    margin-left: 3vw;
  }
  .nm {
    width: 11vw;
    margin-top: -5.5vw;
    margin-left: 18vw;
  }
  .rn {
    width: 14vw;
    margin-top: -4vw;
    margin-left: 5vw;
  }
  .tn {
    width: 17vw;
    margin-top: 2vw;
    margin-right: 8vw;
  }
  .bn {
    width: 13vw;
    margin-top: 3vw;
    margin-left: 6vw;
  }
}
@media (max-width: 320px) {
  .green-zone h2 {
    font-size: 4.5vw;
    line-height: 4.6vw;
  }
  .gp {
    width: 17vw;
    margin-top: 17vw;
    margin-left: 3vw;
  }
  .nm {
    width: 13vw;
    margin-top: -20.5vw;
    margin-left: 16vw;
  }
  .rn {
    width: 16vw;
    margin-top: -18vw;
    margin-left: 1vw;
  }
  .tn {
    width: 19vw;
    margin-top: 3vw;
    margin-right: 3vw;
  }
  .bn {
    width: 16vw;
    margin-top: 3vw;
    margin-left: 2vw;
  }
}
