#card {
  padding-top: 6vw;
}
.load-icon {
  height: 0%;
  width: 6%;
  margin-top: auto;
  margin-bottom: auto;
}
.qr {
  width: 64%;
  margin-top: 4vw;
}
.card {
  width: 48%;
  padding-right: 5vw;
}
