#calc {
  padding-bottom: 80px;
  margin-top: -4vw;
}
.calc {
  animation: appearing 0.5s;
}
@keyframes appearing {
  0% {
    display: none;
    transform: scaleY(0);
  }
  100% {
    display: inherit;
    transform: scaleY(1);
    transform-origin: top;
  }
}
.calc-head {
  display: none;
}
#calc-hide p, #calc p {
  font-size: 1.5vw;
  font-family: myriadpro-regular;
  text-align: center;
  text-decoration: underline;
}
#calc-hide p:hover, #calc p:hover {
  text-decoration: none;
}
#main-calc {
  width: 888px;
  margin-left: auto;
  margin-right: auto;
}
.suggestions-container input {
  font-size: 1.2vw;
}
.suggestions-input {
  height: 100%;
  border-radius: 7px;
  border: 0px;
  text-align: center;
}
.suggestion-wrapper {
  z-index: 100;
}
.suggestions-container {
  font-size: 1vw;
  height: 3.3vw;
  width: 100%;
  border: 1px solid #eaedf0;
  outline-color: rgba(128,128,128,0.54902);
  color: grey;
  border-radius: 7px;
  z-index: 100;
}
.suggestions-container:focus-within + #geoplus {
  border: 1px solid rgba(128,128,128,0.54902);
  border-left: 0;
  outline-width: 2px;
}
input.field.alert {
  border: 2px solid #ffadad;
}
input.field:hover,  input.field:focus,  input.field:active {
  outline-style: solid;
  outline-width: 2px;
}
input.field2 {
  margin-top: 2vw;
}

.calculate-slider {
  margin-top: 2vw;
}
.mb-4 {
  margin-bottom: 1rem;
}
.button-block {
  margin-top: 5vw;
  height: 5.5vw;
  display: flex;
  flex-wrap: nowrap;
}
#vat_select div {
  border-radius: 1rem;
  max-width: 70%;
  height: 5vw;
  margin-top: 5vw;
  margin-left: auto;
  margin-right: auto;
}
#vat_select .bttn-block {
  width: 50%;
}
#vat_select .bttn-block.right {
  border-left:none;
}
#vat_select .bttn-block.left {
  border-right:none;
}
.full-button {
  margin-top: 6vw;
  font-family: myriadpro-regular;
  text-transform: uppercase;
}
#calcResult {
  font-family: myriadpro-regular;
}
.height-pie {
  height: 35vw;
}
.legend_record {
  display: flex;
  align-items: center;
  font-size: 1.5vw;
}
.legend_record .amount {
  margin-left: auto;
}
.legend_record .label {
  margin-right: 35px;
  height: 35px;
  width: 35px;
  border-radius: 7px;
  --tw-bg-opacity: 1;
  background-color: rgba(71, 85, 105, var(--tw-bg-opacity));
}
.label.gradient {
  --tw-bg-opacity: 1;
  background: conic-gradient(rgb(210, 223, 151) 0 60%, rgb(115, 170, 55) 0 80%, rgb(251, 201, 27) 0 90%, rgb(251, 168, 52) 0 100%);
}
.label.l-green {
  --tw-bg-opacity: 1;
  background-color: rgba(210, 223, 151, var(--tw-bg-opacity));
}
.label.green {
  --tw-bg-opacity: 1;
  background-color: rgba(115, 170, 55, var(--tw-bg-opacity));
}
.label.yellow {
  --tw-bg-opacity: 1;
  background-color: rgba(251, 201, 27, var(--tw-bg-opacity));
}
.label.orange {
  --tw-bg-opacity: 1;
  background-color: rgba(251, 168, 52, var(--tw-bg-opacity));
}

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e5e7eb; /* 2 */
}
#offer {
  padding-top: 1.4vw;
  margin-top: 3vw;
}
#offer a  {
  color: white;
  font-size: 2vw;
  font-family: myriadpro-regular;
  text-transform: uppercase;
}
#legend {
  margin-top: 60px;
}

#legend span {
  font-size: 22px;
  font-family: myriadpro-regular;
  color: #a1a1a1;
}
.f-green {
  color: #73aa37!important;
  font-family: myriadpro-semibold!important;
}

@media (min-width: 1921px) {
  #legend span {
    font-size: 37px;
  }
  #main-calc {
    width: 1182px;
  }
  .suggestions-container input {
    font-size: 25px;
  }
}
@media (max-width: 1100px) {
  #main-calc {
    width: 740px;
  }
  #calc-hide h4 {
    font-size: 4vw;
    margin-bottom: 2.7vw;
  }
  #calc-hide p, #calc p {
    font-size: 2vw;
  }
  .button-block {
    height: 6.5vw;
    margin-top: 6vw;
  }
  #vat_select div {
    height: 6.5vw;
    margin-top: 6vw;
  }
  #showResults {
    margin-top: 6.5vw;
  }
  .suggestions-container {
    height: 4.4vw;
  }
  .suggestions-container input {
    font-size: 1.6vw;
  }
}
@media (max-width: 900px) {
  #calc {
    padding-bottom: 65px;
  }
  #main-calc {
    width: 86%;
  }
  #calc-hide h4 {
    font-size: 5vw;
  }
  #calc-hide p, #calc p {
    font-size: 2.5vw;
  }
  .button-block {
    height: 8vw;
    margin-top: 8vw;
  }
  #vat_select div {
    height: 8vw;
    margin-top: 8vw;
  }
  #showResults {
    margin-top: 8.5vw;
  }
  .suggestions-container {
    height: 6vw;
  }
  .suggestions-container input {
    font-size: 2.2vw;
  }
}
@media (max-width: 500px) {
  #calc {
    padding-bottom: 55px;
  }
  #calc-hide h4 {
    font-size: 8vw;
    margin-bottom: 5vw;
  }
  .calc-head {
    display: inherit;
  }
  #calc-hide p, #calc p {
    font-size: 4vw;
  }
  .show-text {
    display: none;
  }
  .button-block {
    height: 13vw;
    margin-top: 10vw;
  }
  #vat_select div {
    height: 13vw;
    margin-top: 14vw;
    max-width: 80%;
  }
  #showResults {
    margin-top: 12vw;
  }
  #legend {
    margin-top: 50px;
  }
  .legend_record .label {
    margin-right: 13px;
  }
  .suggestions-container {
    height: 10.5vw;
  }
  .suggestions-container input {
    font-size: 4vw;
  }
}
@media (max-width: 376px) {
  #calc-hide p, #calc p {
    font-size: 4.5vw;
  }
  .button-block {
    height: 15vw;
    margin-top: 12vw;
  }
  #vat_select div {
    height: 15vw;
    max-width: 90%;
  }
  #legend span {
    font-size: 20px;
  }
}
@media (max-width: 320px) {
  #calc {
    padding-bottom: 45px;
  }
  #calc-hide h4 {
    font-size: 8vw;
  }
  #calc-hide p, #calc p {
    font-size: 5vw;
  }
  #vat_select div {
    max-width: 100%;
  }
  #legend span {
    font-size: 17px;
  }
  #legend {
    margin-top: 40px;
  }
  .legend_record .label {
    margin-right: 7px;
  }
}
