.order-account {
  width: 32%;
  padding: 3vw;
}
.avatar-circle {
  border-radius: 10vw;
  width: 5vw;
  height: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.avatar {
  width: 70%;
}
.account-flex {
  flex-wrap: wrap;
}
#card-order p {
  font-size: 2.3vw;
  text-transform: lowercase;
  line-height: 2.3vw;
  width: 11vw;
}
@media (max-width: 1027px) {
  #card-order p {
    width: 100%;
    text-align: center;
  }
  .avatar-circle {
    display: flex;
    width: 8vw;
    height: 8vw;
    margin-top: 2vw;
    align-items: center;
    justify-content: center;
  }
  .avatar-circle-parent {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}

@media (max-width: 881px) {
  .order-account {
    width: 39%;
    padding: 3.5vw;
    margin-top: 4vw;
  }
  #card-order p {
    width: 100%;
    text-align: center;
    font-size: 2.7vw;
  }
  .avatar-circle {
    width: 11vw;
    height: 11vw;
    margin-top: 3vw;
  }
}
@media (max-width: 500px) {
  .order-account {
    width: 100%;
    padding: 8vw;
    margin-top: 6vw;
    height: 56vw;
  }
  #card-order p {
    font-size: 7vw;
    text-transform: lowercase;
    line-height: 7vw;
    width: 50%;
    text-align: left;
  }
  .avatar-circle-parent {
    display: inherit;
    width: 50%;
    justify-content: flex-end;
  }
  .avatar-circle {
    width: 16vw;
    height: 16vw;
    margin-top: 0vw;
  }
}
@media (max-width: 320px) {
  .avatar-circle {
    width: 17vw;
    height: 17vw;
    margin-top: 0vw;
  }
}
