.menu-parent {
  display: flex;
  background: white;
  position: sticky;
  top:0;
  z-index: 200;
  justify-content: center;
}
.menu {
  display: flex;
  justify-content: space-between;
  width: 64%;
  min-width: 1016px;
  height: 110px;
}
.menu-flex {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0;
	margin: 0;
	position: relative;
}
.menu ul {
  list-style: none;
}
.menu-text {
  margin-left: 0.7vw;
  margin-right: 0.7vw;
  font-size: 13px!important;
  text-transform: uppercase;
  font-family: montserrat-bold;
  cursor: pointer;
}
.menu-text p {
  font-family: montserrat-bold;
}
.menu-decor-block {
  opacity: 0;
  height: 49px;
}
.menu-decor {
  width: calc(100% + 10px);
  height: 4px;
  margin-left: -5px;
  background-color: #d27a33;
}
.menu-text:hover > .menu-decor-block {
	opacity: 1;
  transition-property: opacity;
  transition-duration: .1s;
}
.menu-list-big {
  display: none;
  opacity: 0;
	position: absolute;
  width: 19vw;
  background: rgba(26,29,35,0.98);
  box-shadow: 0 3px 5px 0 rgb(0 0 0 / 20%);
  margin-top: 0px;
  margin-left: -5px;
  border-top: 4px solid #d27a33;
  padding: 15px;
  border-radius: 0 0 20px 20px;
}
.menu-text:hover > .menu-list-big {
  display: inherit;
	opacity: 1;
  margin-top: 45px;
  animation: menu-list 0.5s;
}
@keyframes menu-list {
  0% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
    transform-origin: top;
  }
}
.menu-list {
  display: none;
	position: absolute;
  width: 19vw;
  background: rgba(26,29,35,0.98);
  box-shadow: 0 3px 5px 0 rgb(0 0 0 / 20%);
  margin-top: 45px;
  margin-left: -5px;
  border-top: 4px solid #d27a33;
  padding: 15px;
  z-index: 200;
}
.menu-text:hover > .menu-list {
	display:inherit;
}
.menu-list-item-big {
	float: none;
	display: list-item;
	position: relative;
  padding-top: 15px;
  padding-left: 10px;
  color: #969ba2!important;
}
.menu-list-item a {
	float: none;
	display: list-item;
	position: relative;
  padding-top: 15px;
  padding-left: 10px;
  color: #969ba2!important;
}
.menu p {
  color: #4a4848;
  text-decoration: none;
}

.menu-text:hover > p {
	color: #d27a33;
}
.menu-list-item-big:hover {
  background-color: #d27a33;
  color: white!important;
  animation: opacity 0.5s;
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.cross {
  display: inline-block;
  position: absolute;
  right: 15px;
  top: 5px;
  font-size: 30px;
  font-style: normal;
  font-family: myriadpro-regular;
}
.mob-menu-button {
  display: none;
}
.dotted {
  margin-top: 15px;
  border-top: 1px dotted #4a4848;
  padding: 0;
	height: 0;
}
.inforkom-logo {
  height: 60px;
  margin-top: 25px;
  padding-right: 2.2vw;
}
@media (min-width: 1921px) {
  .inforkom-logo {
    height: 75px;
  }
  .menu-text {
    font-size: 18px!important;
  }
  .menu {
    height: 115px;
  }
}
@media (max-width: 1108px) {
  .inforkom-logo {
    height: 52px;
    margin-top: 22px;
    padding-right: 2vw;
  }
  .menu {
    width: 95%;
    height: 96px;
    min-width: 0;
  }
  .menu-decor {
    margin-bottom: 36px;
  }
  .menu-list {
    margin-top: 40px;
  }
}
@media (max-width: 1024px) {
  .menu a {
    font-size: 1.1vw;
  }
}
@media (max-width: 962px) {
  .menu-list {
    margin-top: 24px;
  }
}
@media (max-width: 870px) {

  .menu {
    padding-top: 0vw;
    height: 82px;
  }
  .menu-text {
    display: none;
  }
  .menu-list {
    overflow: scroll;
    position: fixed;
    display: block;
    height: 100vh;
    width: 335px;
    right: 0;
    left: auto;
    top: 0;
    background: rgba(255,255,255,0.96);
    box-shadow: 0 3px 5px 0 rgb(0 0 0 / 20%);
    margin-top: 0px;
    border-top: none;
    padding: 1px 15px 5px 15px;

  }
  .menu-list-item {
  	font-size: 18px;
  }
  .menu-list-item-main {
  	border-top: 3px solid #d27a33;
    padding-top: 10px;
    margin-top: -1px!important;
    background: none;
    color: #d27a33;
  }
  .mob-menu-a {
    margin-top: 15px;
  }
  .mob-menu-a a {
    font-size: 18px;
  }
  .menu-list-item:hover {
    background: none;
    color: #969ba2!important;
  }
  .menu-list-item:active {
    color: #4a4848!important;
  }
  .inforkom-logo {
    height: 52px;
    margin-top: 2vw;
    margin-left: 2vw;
  }
  .mob-menu-button {
    display: flex;
    align-items: center;
    padding: 0 30px;
  }
  .mob-menu-button:hover ~ body {
    overflow: hidden;
  }
  .overlay {
    display: block;
    position: fixed;
    top: 0;
    bottom:0;
    width: calc(100vw - 335px);
    left: 0;
    background: rgba(0,0,0,0.4);
  }
  .mob-submenu.hover {
    display: inherit;
  }

}
@media (max-width: 426px) {
  .inforkom-logo {
    height: 46px;
    margin-top: 3vw;
    margin-bottom: 1vw;
  }
  .menu {
    height: 72px;
  }
}
@media (max-width: 376px) {
  .inforkom-logo {
    height: 50px;
  }
}
@media (max-width: 320px) {
  .inforkom-logo {
    height: 42px;
  }
  .menu {
    height: 67px;
  }
  .menu-list {
    width: 328px;
    padding-right: 10px;
  }
}
