.map-buttons {
  width: 24%;
  margin-left: 30px;
  margin-top: 10px;
  font-family: myriadpro-regular;
}
.map-menu {
  height: 240px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  margin-top: 15px;
  margin-bottom: 35px;
}
.map-item {
  width: 47%;
  height: 110px;
  background-color: #f1efef;
  border-radius: 7px;
  font-size: 16px;
  text-align: center;
}
.chosen {
  background-color: #d27a33;
}
.p-chosen {
  color: white;
}
.map-pic {
  height: 77px;
  align-items: center;
}
.map-header {
  font-family: myriadpro-semibold;
  margin-top: 24px;
  font-size: 23px;
}
.map-p {
  display: flex;
  text-align: center;
  font-size: 16px;
  width: 62%;
  margin-bottom: 12px;
  color: #a1a1a1;
}
.map-p-margin {
  margin-top: 14px;
}
.map-p-left {
  text-align: left!important;
}
.map-download {
  margin-top: 70px;
  margin-bottom: 20px;
}
.map {
  width: 72%;
  background-color: #f1efef;
}
.map-point {
  background-color: white;
  display: inline-block;
  min-width: 350px;
  border-radius: 20px;
  padding: 16px;
  font-family: myriadpro-regular;
  color: #a1a1a1;
}
.point-field {
  background-color: #a1a1a1;
  border-radius: 15px;
  padding: 16px;
  color: white;
}
.point-red {
  background-color: #d27a33;
  display: inline-block;
  min-width: 100px;
  border-radius: 6px;
  padding: 10px;
  font-size: 14px;
  margin-bottom: 16px;
}
.point-p-extra {
  font-size: 16px;
  margin-top: 5px;
}
.address-p {
  margin-top: 15px;
  margin-left: 16px;
  font-size: 16px;
}
.tail {
  width: 40px;
  height: 20px;
  background-color: white;
  transform: rotate(45deg);
  margin-bottom: -20px;
}
.ymaps-2-1-79-zoom {
  height: 20px!important;
  width: 40px!important;
  border-radius: 10px;
  box-shadow: 0 1px 2px 1px rgb(0 0 0 / 15%), 0 2px 5px -3px rgb(0 0 0 / 15%);
  overflow: hidden;
}
.ymaps-2-1-79-zoom__scale {
  display: none;
}
.ymaps-2-1-79-controls__control {
  right: 0!important;
  left: auto!important;
  top: 0!important;
  bottom: auto!important;
  padding: 25px;
  height: 60px;
  
}
.ymaps-2-1-79-zoom__button {
  width: 100%;
  height: 50%!important;
  border-radius: 0!important;
  display: flex!important;
  justify-content: center;
  align-items: center;
}
.ymaps-2-1-79-zoom__plus {
  border-bottom: 1px solid #d27a33!important;
}
.ymaps-2-1-79-zoom__minus {
  bottom: 0;
  border-top: 2px solid #d27a33!important;
}
.ymaps-2-1-79-float-button {
  box-shadow: 0 0 0 0 rgb(0 0 0 / 0%), 0 0 0 0 rgb(0 0 0 / 0%)!important;
  padding-left: 0px!important;
}
.ymaps-2-1-79-zoom__plus .ymaps-2-1-79-zoom__icon {
  background-image: url('./../../../images/map/plus-map.png')!important;
  width: 67%;
}
.ymaps-2-1-79-zoom__minus .ymaps-2-1-79-zoom__icon {
  background-image: url('./../../../images/map/minus-map.png')!important;
  width: 67%;
}
.ymaps-2-1-79-search {
  height: 35px!important;
  width: 345px!important;
  overflow: hidden;
}
.ymaps-2-1-79-searchbox__button-cell {
  width: 50px;
  height: 35px!important;
  border-radius: 0 30px 30px 0;
}
.ymaps-2-1-79-searchbox-button {
  height: 100%!important;
  background-image: url('./../../../images/map/search.png')!important;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0 30px 30px 0!important;
  background-color: #f1efef!important;
  border: 3px solid #a1a1a1!important;
}
.ymaps-2-1-79-searchbox__input-cell {
  height: 35px!important;
  width: calc(345px - 50px)!important;
  
}
.ymaps-2-1-79-searchbox-input {
  height: 100%;
  background: #f1efef!important;
  border-radius: 30px 0 0 30px;
}
input.ymaps-2-1-79-searchbox-input__input {
  font-size: 17px!important;
  height: 100%!important;
}
.ymaps-2-1-79-searchbox-button-text {
  display: none!important;
}
.ymaps-2-1-79-_focused {
  box-shadow:inset 0 0 0 2px #a1a1a1!important;
}
