.map-buttons {
  z-index: 10;
  width: 24%;
  margin-left: 30px;
  margin-top: 10px;
  font-family: myriadpro-regular;
}
.map-menu {
  height: 240px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  margin-top: 15px;
  margin-bottom: 35px;
}
.map-item {
  width: 170px;
  height: 110px;
  background-color: #f1efef;
  border-radius: 10px;
  font-size: 16px;
  text-align: center;
  top: 210px;
  position: absolute;
  z-index: 2;
}
.map-calc {
  position: absolute;
  background-color: white;
  z-index: 4;
}
.chosen {
  background-color: #d27a33;
}
.p-chosen {
  color: white;
}
.map-pic {
  height: 77px;
  align-items: center;
}
.map-header {
  font-family: myriadpro-semibold;
  top: 174px;
  font-size: 23px;
  z-index: 2;
  position: absolute;
}
.map-p-1 {
  position: absolute;
  text-align: center;
  font-size: 16px;
  width: 15%;
  color: #a1a1a1;
  z-index: 2;
  top: 485px;
}
.map-p-2 {
  position: absolute;
  text-align: center;
  font-size: 16px;
  width: 15%;
  color: #a1a1a1;
  z-index: 2;
  top: 400px;
}
.map-p-margin {
  margin-top: 14px;
}
.map-p-left {
  text-align: left!important;
}
.map-download {
  margin-top: 70px;
  margin-bottom: 20px;
  
}
.map-help {
  position: absolute;
  bottom: -120px;
  width: 380px;
}
.map-point {
  background-color: white;
  display: inline-block;
  min-width: 350px;
  border-radius: 20px;
  padding: 16px;
  font-family: myriadpro-regular;
  color: #a1a1a1;
}
.point-field {
  background-color: #a1a1a1;
  border-radius: 15px;
  padding: 16px;
  color: white;
}
.point-red {
  background-color: #d27a33;
  display: inline-block;
  min-width: 100px;
  border-radius: 6px;
  padding: 10px;
  font-size: 14px;
  margin-bottom: 16px;
}
.point-p-extra {
  font-size: 16px;
  margin-top: 5px;
}
.address-p {
  margin-top: 15px;
  margin-left: 16px;
  font-size: 16px;
}
.tail {
  width: 40px;
  height: 20px;
  background-color: white;
  transform: rotate(45deg);
  margin-bottom: -20px;
}
.ymaps-2-1-79-controls__bottom, .ymaps-2-1-79-controls__toolbar {
  height: 0!important;
  margin-top: 0!important;
}
.ymaps-2-1-79-controls__toolbar_left {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 380px;
  height: 100vh!important;
  background-color: white;
  padding: 0 20px 0 20px;
}
.ymaps-2-1-79-controls__control_toolbar {
  padding: 10px;
  margin: 0!important;
}
.ymaps-2-1-79-route-panel-button__button .ymaps-2-1-79-float-button, 
.ymaps-2-1-79-controls__control_toolbar .ymaps-2-1-79-float-button, 
.ymaps-2-1-79-listbox .ymaps-2-1-79-listbox__button {
  display: flex!important;
  align-items: flex-end;
  background-color: #f1efef!important;
  height: 110px!important;
  width: 170px!important;
  max-width: none!important;
  border-radius: 10px!important;
  font-family: myriadpro-regular!important;
  padding: 0;
  color: #4a4848;
  padding-bottom: 8px;
  background-repeat: no-repeat;
  background-position: center 9px;
  box-shadow: 0 0 0 0 rgb(0 0 0 / 0%), 0 0 0 0 rgb(0 0 0 / 0%)!important;
}
.ymaps-2-1-79-listbox__button {
  background-image: url('./../../../images/map/azs.png')!important;

}
.ymaps-2-1-79-route-panel-button__button .ymaps-2-1-79-float-button{
  background-image: url('./../../../images/map/point.png')!important;
  background-position: center 20px;
}
.ymaps-2-1-79-float-button-text, .ymaps-2-1-79-listbox__button-text {
  width: 100%;
  font-size: 16px!important;
  text-align: center!important;
  padding: 0!important;
}
.ymaps-2-1-79-listbox__panel {
  padding: 0!important;
  border: 0!important;
  animation: list-alt .5s;
  animation-fill-mode: forwards;
}
.ymaps-2-1-79-listbox__panel_animation_show {
  animation: list .5s;
  animation-fill-mode: forwards;
}
@keyframes list {
  0% {
    opacity: 0;
    transform: scaleX(0);
    transform-origin: left;
  }
  100% {
    opacity: 1;
    transform: scaleX(1);
    transform-origin: left;
  }
}
@keyframes list-alt {
  0% {
    opacity: 1;
    transform: scaleX(1);
    transform-origin: left;
  }
  100% {
    opacity: 0;
    transform: scaleX(0);
    transform-origin: left;
  }
}
.ymaps-2-1-79-search {
  width: 345px;
  margin-bottom: 35px;
}
.ymaps-2-1-79-searchbox-input {
  background-color: #f1efef!important;
  height: 35px!important;
  width: calc(358px - 45px)!important;
  border-radius: 30px 0 0 30px!important;
}
.ymaps-2-1-79-searchbox__normal-layout {
  width: 358px!important;
}
.ymaps-2-1-79-searchbox__normal-layout:after {
  box-shadow: 0 0 0 0 rgb(0 0 0 / 0%), 0 0 0 0 rgb(0 0 0 / 0%)!important;
}
.ymaps-2-1-79-searchbox-button-text {
  display: none!important;
}
.ymaps-2-1-79-searchbox__button-cell {
  height: 35px;
  width: 45px!important;
}
input.ymaps-2-1-79-searchbox-input__input {
  font-size: 17px!important;
  height: 100%!important;
}
.ymaps-2-1-79-searchbox__normal-layout .ymaps-2-1-79-searchbox-button {
  width: 45px!important;
  height: 100%!important;
  border-radius: 0 30px 30px 0;
  background-color: #f1efef!important;
  background-image: url('./../../../images/map/search.png')!important;
  background-repeat: no-repeat;
  background-position: center;
}
.ymaps-2-1-79-_focused {
  box-shadow:inset 0 0 0 0 #a1a1a1!important;
}
.ymaps-2-1-79-float-button.ymaps-2-1-79-_hidden-icon {
background-image: url('./../../../images/map/circules.png');
background-position: center 27px;
}
.ymaps-2-1-79-_visible-arrow .ymaps-2-1-79-listbox__button-arrow,
.ymaps-2-1-79-float-button-icon {
  display: none!important;
}
.ymaps-2-1-79-zoom__scale {
  display: none;
}
.ymaps-2-1-79-zoom {
  position: absolute!important;
  top: -90px;
  left: 430px;
  height: 20px!important;
  width: 40px!important;
  border-radius: 10px;
  box-shadow: 0 1px 2px 1px rgb(0 0 0 / 15%), 0 2px 5px -3px rgb(0 0 0 / 15%);
  overflow: hidden;
}
.ymaps-2-1-79-float-button {
  height: 37px!important;
  width: 100%;
  padding-left: 0!important;
}
.ymaps-2-1-79-zoom__plus {
  background-image: url('./../../../images/map/plus-map.png')!important;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white!important;
  margin-bottom: 0!important;
}
.ymaps-2-1-79-zoom__minus {
  background-image: url('./../../../images/map/minus-map.png')!important;
  background-repeat: no-repeat;
  background-color: white!important;
  background-position: center;
}
.ymaps-2-1-79-map-copyrights-promo {
  left: 420px!important;
}