.plus1 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px 0px 0px 7px;
  --tw-bg-opacity: 1;
  background-color: rgba(234, 237, 240, var(--tw-bg-opacity));
  padding-top: .3vw;
  outline-color: rgba(128,128,128,0.54902);
  color: grey;
  width: 20%;
  margin-left: max(-364px, -100%);
}

.field {
  text-align: center;
  border: 1px solid #eaedf0;
  outline-color: rgba(128,128,128,0.54902);
  color: grey;
  border-radius: 7px;
}
