#calc {
  padding-bottom: 5vw;
  margin-top: -4vw;
}
#calc-hide p, #calc p {
  font-size: 1.5vw;
  font-family: myriadpro-regular;
  text-align: center;
  text-decoration: underline;
}
#calc-hide p:hover, #calc p:hover {
  text-decoration: none;
}
#main-calc {
  width: 53vw;
  margin-left: auto;
  margin-right: auto;
}
.geo-zone {
  padding-top: 4vw;
  padding-bottom: 4vw;
  margin-top: 3.6vw;
}
.geo-zone h2 {
  text-align: center;
  margin: 0px;
  text-transform: uppercase;
}
input.field.alert {
  border: 2px solid #ffadad;
}
input.field:hover,  input.field:focus,  input.field:active {
  outline-style: solid;
  outline-width: 2px;
}
input.field1 {
  font-size: 1.3vw;
  border-radius: 7px;
  width: 24vw;
  height: 3.2vw;
}
input.field2 {
  margin-top: 2vw;
}
#geoplus {
  font-size: 2vw;
  border-radius: 0px 7px 7px 0px;
  --tw-bg-opacity: 1;
  background-color: rgba(234, 237, 240, var(--tw-bg-opacity));
  outline-color: rgba(128,128,128,0.54902);
  color: grey;
  height: 3.2vw;
}
#geoplus[disabled] {
  box-shadow:none
}
#geoplus:active:not([disabled]) {
  box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.2);
}

.search {
  display: flex;
  justify-content: center;
  margin-top: 3vw;
}

.calculate-slider {
  margin-top: 2vw;
}

.mb-4 {
  margin-bottom: 1rem;
}
.button-block {
  margin-top: 5vw;
  height: 5.5vw;
  display: flex;
  flex-wrap: nowrap;
}

#vat_select div {
  border-radius: 1rem;
  max-width: 70%;
  height: 5vw;
  margin-top: 5vw;
  margin-left: auto;
  margin-right: auto;
}
#vat_select .bttn-block {
  width: 50%;
}
#vat_select .bttn-block.right {
  border-left:none;
}
#vat_select .bttn-block.left {
  border-right:none;
}
#showResults {
  margin-top: 6vw;
  margin-bottom: 4vw;
  font-family: myriadpro-regular;
  text-transform: uppercase;
}
#calcResult {
  font-family: myriadpro-regular;
}
.height-pie {
  height: 35vw;
}
#total_fuel, #total_total {
  font-size: 2vw;
}
.total-zone {
  margin-top: 4vw;
  padding-bottom: 2vw;
}
.total-zone h5 {
  padding-top: 2vw;
  font-size: 1.8vw;
}
.total {
  margin-left: 2vw;
  margin-right: 2vw;
  justify-content: space-around;
}

.v-line {
  border: .5px solid #a1a1a1;
  height: 7vw;
}
#legend {
  margin-top: 5vw;
}
.legend_record {
  display: flex;
  align-items: center;
  font-size: 1.5vw;
}
.legend_record .amount {
  margin-left: auto;
}
.legend_record .label {
  margin-right: 1.75rem;
  height: 1.75rem;
  width: 1.75rem;
  border-radius: 7px;
  --tw-bg-opacity: 1;
  background-color: rgba(71, 85, 105, var(--tw-bg-opacity));
}
*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e5e7eb; /* 2 */
}
#offer {
  padding-top: 1.4vw;
  margin-top: 3vw;
}
#offer a  {
  color: white;
  font-size: 2vw;
  font-family: myriadpro-regular;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  #main-calc {
    width: 66vw;
  }
}
@media (max-width: 768px) {
  #main-calc {
    width: 86%;
  }
}
