#calc {
  padding-bottom: 80px;
  margin-top: -4vw;
}
.calc-head {
  display: none;
}
.echarts-for-react {
  height: 480px!important;
  margin-top: 3vw;
}
#calc-hide p, #calc p {
  font-size: 1.5vw;
  font-family: myriadpro-regular;
  text-align: center;
  text-decoration: underline;
}
#calc-hide p:hover, #calc p:hover {
  text-decoration: none;
}
#main-calc {
  width: 770px;
  margin-left: auto;
  margin-right: auto;
}
.geo-zone {
  padding-top: 4vw;
  padding-bottom: 4vw;
  margin-top: 3.6vw;
}
.geo-zone h2 {
  text-align: center;
  margin: 0px;
  text-transform: uppercase;
}
.suggestions-input {
  height: 100%;
  border-radius: 7px;
  border: 0px;
  text-align: center;
}
.suggestions-container {
  height: 3.2vw;
  width: 100%;
  text-align: center;
  border: 1px solid #eaedf0;
  outline-color: rgba(128,128,128,0.54902);
  color: grey;
  border-radius: 7px;
}
.plus2 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px 7px 7px 0px;
  --tw-bg-opacity: 1;
  background-color: rgba(234, 237, 240, var(--tw-bg-opacity));
  outline-color: rgba(128,128,128,0.54902);
  color: grey;
  width: 20%;
  text-align: center;
  margin-left: -20%;
  padding: 0.4vw;
}
input.field.alert {
  border: 2px solid #ffadad;
}
input.field:hover,  input.field:focus,  input.field:active {
  outline-style: solid;
  outline-width: 2px;
}
input.field1 {
  font-size: 1.3vw;
  border-radius: 7px;
  width: 24vw;
  height: 3.2vw;
}
.field1 {
  font-size: 1.3vw;
  border-radius: 7px;
  height: 3.2vw;
  margin-top: 2vw;
}
input.field2 {
  margin-top: 2vw;
}
#geoplus {
  font-size: 2vw;
  border-radius: 0px 7px 7px 0px;
  --tw-bg-opacity: 1;
  background-color: rgba(234, 237, 240, var(--tw-bg-opacity));
  outline-color: rgba(128,128,128,0.54902);
  color: grey;
  height: 49px;
}
#geoplus[disabled] {
  box-shadow:none
}
#geoplus:active:not([disabled]) {
  box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.2);
}
.search {
  display: flex;
  justify-content: center;
  margin-top: 3vw;
}
.flex-search {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 23vw;
}
.calculate-slider {
  margin-top: 2vw;
}
.mb-4 {
  margin-bottom: 1rem;
}
.item {
  flex-basis: 40%;
}
.button-block {
  margin-top: 5vw;
  height: 5.5vw;
  display: flex;
  flex-wrap: nowrap;
}
#vat_select div {
  border-radius: 1rem;
  max-width: 70%;
  height: 5vw;
  margin-top: 5vw;
  margin-left: auto;
  margin-right: auto;
}
#vat_select .bttn-block {
  width: 50%;
}
#vat_select .bttn-block.right {
  border-left:none;
}
#vat_select .bttn-block.left {
  border-right:none;
}
.full-button {
  margin-top: 6vw;
  font-family: myriadpro-regular;
  text-transform: uppercase;
}
#calcResult {
  font-family: myriadpro-regular;
}
.height-pie {
  height: 35vw;
}
#legend {
  margin-top: 60px;
}
.legend_record {
  display: flex;
  align-items: center;
  font-size: 1.5vw;
}
.legend_record .amount {
  margin-left: auto;
}
.legend_record .label {
  margin-right: 35px;
  height: 35px;
  width: 35px;
  border-radius: 7px;
  --tw-bg-opacity: 1;
  background-color: rgba(71, 85, 105, var(--tw-bg-opacity));
}
*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e5e7eb; /* 2 */
}
#offer {
  padding-top: 1.4vw;
  margin-top: 3vw;
}
#offer a  {
  color: white;
  font-size: 2vw;
  font-family: myriadpro-regular;
  text-transform: uppercase;
}

.label.gradient {
  --tw-bg-opacity: 1;
  background: conic-gradient(rgb(210, 223, 151) 0 60%, rgb(115, 170, 55) 0 80%, rgb(251, 201, 27) 0 90%, rgb(251, 168, 52) 0 100%);
}
.label.l-green {
  --tw-bg-opacity: 1;
  background-color: rgba(210, 223, 151, var(--tw-bg-opacity));
}
.label.green {
  --tw-bg-opacity: 1;
  background-color: rgba(115, 170, 55, var(--tw-bg-opacity));
}
.label.yellow {
  --tw-bg-opacity: 1;
  background-color: rgba(251, 201, 27, var(--tw-bg-opacity));
}

.label.orange {
  --tw-bg-opacity: 1;
  background-color: rgba(251, 168, 52, var(--tw-bg-opacity));
}
.CalcText span, #legend span {
  font-size: 22px;
  font-family: myriadpro-regular;
  color: #a1a1a1;
}
.f-green {
  color: #73aa37!important;
  font-family: myriadpro-semibold!important;
}
@media (max-width: 1100px) {
  #main-calc {
    width: 740px;
  }
  #calc-hide h4 {
    font-size: 4vw;
    margin-bottom: 2.7vw;
  }
  #calc-hide p, #calc p {
    font-size: 2vw;
  }
  .geo-zone {
    margin-top: 4.6vw;
    padding: 5vw 0;
  }
  .flex-search {
    width: 31vw;
    height: 11vw;
  }
  .search {
    margin-top: 4vw;
  }
  .button-block {
    height: 6.5vw;
    margin-top: 6vw;
  }
  #vat_select div {
    height: 6.5vw;
    margin-top: 6vw;
  }
  #showResults {
    margin-top: 6.5vw;
  }
}
@media (max-width: 900px) {
  #calc {
    padding-bottom: 65px;
  }
  #main-calc {
    width: 86%;
  }
  #calc-hide h4 {
    font-size: 5vw;
  }
  #calc-hide p, #calc p {
    font-size: 2.5vw;
  }
  .geo-zone {
    margin-top: 6.6vw;
    padding: 7vw 0;
  }
  .flex-search {
    width: 41vw;
    height: 15vw;
  }
  .search {
    margin-top: 6vw;
  }
  .button-block {
    height: 8vw;
    margin-top: 8vw;
  }
  #vat_select div {
    height: 8vw;
    margin-top: 8vw;
  }
  #showResults {
    margin-top: 8.5vw;
  }
}
@media (max-width: 500px) {
  #calc {
    padding-bottom: 55px;
  }
  #calc-hide h4 {
    font-size: 8vw;
    margin-bottom: 5vw;
  }
  .calc-head {
    display: inherit;
  }
  #calc-hide p, #calc p {
    font-size: 4vw;
  }
  .show-text {
    display: none;
  }
  .geo-zone {
    margin-top: 9.6vw;
    padding: 10vw 0 11vw 0;
  }
  .flex-search {
    width: 68vw;
    height: 25vw;
  }
  .item {
    flex-basis: 42%;
  }
  .search {
    margin-top: 9vw;
  }
  .button-block {
    height: 13vw;
    margin-top: 10vw;
  }
  #vat_select div {
    height: 13vw;
    margin-top: 14vw;
    max-width: 80%;
  }
  #showResults {
    margin-top: 12vw;
  }
  .legend_record .label {
    margin-right: 13px;
  }
  #legend {
    margin-top: 50px;
  }
}
@media (max-width: 376px) {
  #calc-hide p, #calc p {
    font-size: 4.5vw;
  }
  .geo-zone {
    padding: 8vw 0 11vw 0;
  }
  .search {
    margin-top: 6vw;
  }
  .item {
    flex-basis: 44%;
  }
  .button-block {
    height: 15vw;
    margin-top: 12vw;
  }
  #vat_select div {
    height: 15vw;
    max-width: 90%;
  }
  .CalcText span, #legend span {
    font-size: 20px;
  }
}
@media (max-width: 320px) {
  #calc {
    padding-bottom: 45px;
  }
  #calc-hide h4 {
    font-size: 8vw;
  }
  #calc-hide p, #calc p {
    font-size: 5vw;
  }
  .flex-search {
    width: 70vw;
    height: 33vw;
  }
  .item {
    flex-basis: 43%;
  }
  .geo-zone {
    padding: 9vw 0 11vw 0;
  }
  #vat_select div {
    max-width: 100%;
  }
  .legend_record .label {
    margin-right: 7px;
  }
  .CalcText span, #legend span {
    font-size: 17px;
  }
  #legend {
    margin-top: 40px;
  }
}
