.CalcValue {
  color: #636363!important;
  font-size: 1.8vw;
  font-weight: bold;
}
.CalcText {
  display: flex;
  margin-top: 5vw;
  align-items: center;
}
@media (max-width: 1024px) {
  .CalcValue {
    font-size: 2.2vw;
  }
}
@media (max-width: 768px) {
  .CalcValue {
    font-size: 3.1vw;
  }
  .CalcText {
    margin-top: 6vw;
  }
}
@media (max-width: 426px) {
  .CalcValue {
    font-size: 5.1vw;
  }
  .CalcText {
    margin-top: 12vw;
  }
}
@media (max-width: 320px) {
  .CalcValue {
    font-size: 6.1vw;
  }
}
