.map-buttons {
  width: 24%;
  margin-left: 30px;
  margin-top: 10px;
  font-family: myriadpro-regular;
}
.map-menu {
  height: 240px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  margin-top: 15px;
  margin-bottom: 35px;
}
.map-item {
  width: 47%;
  height: 110px;
  background-color: #f1efef;
  border-radius: 7px;
  font-size: 16px;
  text-align: center;
}
.chosen {
  background-color: #d27a33;
}
.p-chosen {
  color: white;
}
.map-pic {
  height: 77px;
  align-items: center;
}
.map-header {
  font-family: myriadpro-semibold;
  margin-top: 24px;
  font-size: 23px;
}
.map-p {
  display: flex;
  text-align: center;
  font-size: 16px;
  width: 62%;
  margin-bottom: 12px;
  color: #a1a1a1;
}
.map-p-margin {
  margin-top: 14px;
}
.map-p-left {
  text-align: left!important;
}
.map-download {
  margin-top: 70px;
  margin-bottom: 20px;
}
.map {
  width: 72%;
  background-color: #f1efef;
}
.map-point {
  background-color: white;
  display: inline-block;
  min-width: 350px;
  border-radius: 20px;
  padding: 16px;
  font-family: myriadpro-regular;
  color: #a1a1a1;
}
.point-field {
  background-color: #a1a1a1;
  border-radius: 15px;
  padding: 16px;
  color: white;
}
.point-red {
  background-color: #d27a33;
  display: inline-block;
  min-width: 100px;
  border-radius: 6px;
  padding: 10px;
  font-size: 14px;
  margin-bottom: 16px;
}
.point-p-extra {
  font-size: 16px;
  margin-top: 5px;
}
.address-p {
  margin-top: 15px;
  margin-left: 16px;
  font-size: 16px;
}
.tail {
  width: 40px;
  height: 20px;
  background-color: white;
  transform: rotate(45deg);
  margin-bottom: -20px;
}
