#azs {
  margin-top: 70px;
  padding-top: 70px;
  padding-bottom: 60px;
}
.green-p {
  color: #73aa37;
  font-family: montserrat-regular;
  font-size: 2.3vw;
  text-align: center;
  margin-bottom: 3vw;
}
.azs-head {
  display: flex;
  flex-direction: column;
}
.azs-p {
  font-size: 1.85vw;
  font-family: montserrat-regular;
  margin-top: 2vw;
}
.logos-bottom img {
  height: 5vw;
  margin-top: 2vw;
}
.logos-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 1vw;
}
.azs-button2 {
  display: none;
}
.azs-pic {
  width: 25%;
}
@media (max-width: 768px) {
  #azs {
    margin-top: 70px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .azs-wrap {
    flex-wrap: wrap;
  }
  .azs-head {
    display: flex;
    flex-direction: column;
  }
  .azs-hide {
    display: none;
  }
  .azs-p {
    font-size: 2.7vw;
    margin-top: 0vw;
  }
  .azs-pics {
    width: 100%;
    margin-top: 8vw;
  }
  .azs-pic {
    margin-bottom: 2vw;
  }
  .green-p {
    font-size: 3.5vw;
    text-align: right;
    margin-top: -5vw;
    margin-right: 5vw;
  }
  .logos-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
  }
  .logos-bottom img {
    height: 7vw;
  }
  .logos-change {
    margin-top: -1vw;
    width: 100%;
  }
}
@media (max-width: 426px) {

  .azs-wrap {
    flex-wrap: wrap;
  }
  .azs-head {
    display: flex;
    flex-direction: column;
  }
  .azs-button1 {
    display: inherit;
  }
  .azs-hide {
    display: none;
  }
  .azs-p {
    font-size: 4.7vw;
    margin-top: 3vw;
    margin-bottom: 1vw;
  }
  .azs-pics {
    flex-wrap: wrap;
    margin-top: 5vw;
  }
  .azs-pic {
    width: 50%;
    margin-bottom: 2vw;
  }
  .green-p {
    font-size: 6vw;
    text-align: center;
    margin-top: 12vw;
    margin-right: 0;
  }
  .logos-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 0;
  }
  .logos-bottom img {
    height: 19vw;
  }
  .azs-button2 {
    display: none;
  }
  .logos-change {
    margin-top: 3vw;
    width: 100%;
  }
}
