#card {
  padding-top: 6vw;
}
.head-card {
  width: 41vw;
}
.load-icon {
  height: 0%;
  width: 6%;
  margin-top: auto;
  margin-bottom: auto;
}
.qr {
  width: 64%;
  margin-top: 4vw;
}
.card {
  width: 48%;
  padding-right: 5vw;
}
.card-button {
  margin-top: -6vw;
}
@media (min-width: 1921px) {
  .head-card {
    width: 700px;
  }
  .card-button {
    margin-top: -2vw;
  }
}
@media (max-width: 1027px) {
  .card {
    width: 45%;
    padding-right: 0vw;
  }
}
@media (max-width: 900px) {
  .head-card {
    width: 75vw;
  }
  .load {
    display: flex;
    justify-content: center;
  }
  .card {
    width: 56%;
    margin-top: 8vw;
  }
}
@media (max-width: 500px) {
  .head-card {
    display: flex;
    justify-content: center;
  }
  .card {
    width: 90%;
    margin-top: 10vw;
  }
}
