#red p {
  color: white;
}
#red h2 {
  color: white;
}
.full-red {
  background: linear-gradient(to right, #f15257, #f38f4a);;
}
.red-head p {
  margin-top: 3vw;
  font-family: montserrat-regular;
  font-size: 1.83vw;
}
.red-table {
  width: 64%;
}
#red .color-zone {
  padding-top: 5vw;
}
.no-color {
  background-color: rgba(0, 0, 0, 0.0);
  height: 100%!important;
  width: calc((100% - 2vw) / 3);
  overflow: hidden;
  position: relative;
  borderRadius: 20px;
}
.no-color p {
  margin-top: 18vw;
  text-align: center;
  text-transform: lowercase;
  font-size: 1.46vw;
}
.red-zone-height {
  height: 27vw;
}
.red-zone-square {
  width: 90%;
  height: 16vw;
}
.red-zone-img {
  position: absolute;
  margin-left: -1.5vw;
}
