

/*people area*/

/*green area*/

/*boxes area*/


/*card-order area*/

/*calc area*/


/*red area*/


/*card area*/


/*azs area*/


@media (max-width: 480px) {
  h2 {
    font-size: 12pt;
    text-align: left;
    text-transform: uppercase;
  }
  .main {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  .menu {
    display: none;
  }
  .green-zone {
    height: 65px;
    border-radius: 10px;
    margin-top: 15px;
  }
  .green-zone h2 {
    color: #ffffff;
    margin-left: 40%;
    padding-top: 5px;
  }
  .color-zone {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .order-note {
    width: 100%;
    display: inline-block;
  }
  .order-account {
    width: 100%;
    display: inline-block;
  }
  .icon-table {
    padding-left: 10px;
    padding-right: 10px;
  }
  .icons {
    height: 60px;
    padding: 10px;
    display: inline-block;
  }
  .main-calc {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
} /*end of media 480*/
