@font-face {
  font-family: montserrat-extra-bold;
  src: url(./fonts/Montserrat-ExtraBold.ttf);
}
@font-face {
  font-family: montserrat-bold;
  src: url(./fonts/Montserrat-Bold.ttf);
}
@font-face {
  font-family: montserrat-regular;
  src: url(./fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: myriadpro-regular;
  src: url(./fonts/MYRIADPRO-REGULAR.OTF);
}
@font-face {
  font-family: myriadpro-cond;
  src: url(./fonts/MYRIADPRO-COND.OTF);
}
@font-face {
  font-family: myriadpro-semibold;
  src: url(./fonts/MYRIADPRO-SEMIBOLD.OTF);
}

body {
  font-family: montserrat-extra-bold;
  color: #4a4848;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


h2 {
  font-size: 30px;
  text-align: left;
  line-height: 33px;
  text-transform: uppercase;
  margin: 0;
}
h3 {
  font-size: 18px;
  text-transform: uppercase;
}
h4 {
  font-size: 3.3vw;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 1.7vw;
}
h5 {
  margin: 0;
  font-size: 2.3vw;
  line-height: 2.4vw;
}
h6 {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 30px;
}
p {
  margin: 0;
}
select { /*hide caret*/
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
select:not([multiple]) { /*new caret*/
  padding-right: 1.2em;
  background-repeat: no-repeat;
  background-position: calc(100% - 0.9em) 0.75em;
  background-size: 0.55em auto;
  background-image: url("images/caret.png");
}
select::-ms-expand { /*hide caret in IE*/
  display: none;
}
form {
  margin-block-end: 0;
}
hr {
  margin: 0 auto;
	padding: 0;
	height: 0;
  width: 100%;
	border: none;
	border-top: 2px solid #a1a1a1;
}
a {
  text-decoration: none;
}

.text-area {
  width: 62%;
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}
.basic-page {
  width: 70%;
  margin-top: 60px;
  margin-bottom: 120px;
  margin-left: auto;
  margin-right: auto;
}
.white {
  background-color: #ffffff!important;
}
.radius-20 {
  border-radius: 2vw;
}
.margin-100 {
  margin-top: 15vw;
}
.pb-4 {
  padding-bottom: 4vw;
}
.pl-1 {
  padding-left: 1vw;
}
.mt-1 {
  margin-top: 1vw;
}
.mt-3 {
  margin-top: 3vw;
}
.mt-4 {
  margin-top: 4vw;
}
.mt-6 {
  margin-top: 6vw;
}
.ml-1 {
  margin-left: 1vw;
}
.min-w {
  min-width: 155px;
}
.inline-block {
  display: inline-block;
}
.z-2 {
  z-index: 2;
}
.back-white {
  background-color: white;
}
.back-grey {
  background-color: #eaedf0;
}
.green-grad {
  background: linear-gradient(to bottom, #76bf71, #21832e);
}
.flex {
  display: flex;
}
.flex-1 {
  flex: 1 1 0%;
}
.flex-space-b {
  justify-content: space-between;
}
.flex-space-a {
  justify-content: space-around;
}
.flex-col {
  flex-direction: column;
}
.flex-center {
  justify-content: center;
}
.flex-right {
  justify-content: flex-end;
}
.flex-box {
  flex-grow: 1;
}
.wrap {
  flex-wrap: wrap;
}
.hidden {
  display: none!important;
}
.opacity {
  filter: opacity(70%);
}
.invert {
  filter: invert(1);
}
.font-bold {
  font-weight: bold;
}
.f-grey {
  color: #a1a1a1;
}

.uppercase {
text-transform: uppercase;
}
.main {
  width: 87%;
  max-width: 1552px;
  margin-left: auto;
  margin-right: auto;
}
.color-zone {
  width: 86%;
  max-width: 1552px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4vw;
}
.w-25 {
  width: 25.5%;
}
.point {
  cursor: pointer;
}
.plus3 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  --tw-bg-opacity: 1;
  background-color: rgba(234, 237, 240, var(--tw-bg-opacity));
  padding-top: .3vw;
  padding-bottom: .3vw;
  outline-color: rgba(128,128,128,0.54902);
  color: grey;
  width: 15%;
  margin-left: max(-364px, -100%);
}
@media (min-width: 1921px) {
  h2 {
    font-size: 40px;
    line-height: 40px;
  }
  .color-zone {
    max-width: 2140px;
  }
}
@media (max-width: 1100px) {
  h2 {
    font-size: 29px;
    line-height: 29px;
  }
  .basic-page {
    width: 90%;
  }
}
@media (max-width: 1050px) {
  h2 {
    font-size: 28px;
    line-height: 29px;
  }
  .color-zone {
    width: 89%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4vw;
  }
}
@media (max-width: 1027px) {
  h2 {
    font-size: 27px;
    line-height: 29px;
  }

}
@media (max-width: 900px) {
  h2 {
    font-size: 25.5px;
    line-height: 29px;
  }
}
@media (max-width: 768px) {
  h2 {
    font-size: 27px;
    line-height: 30px;
  }
}
@media (max-width: 560px) {
  h2 {
    font-size: 25px;
    line-height: 30px;
  }

}
@media (max-width: 500px) {
  h2 {
    font-size: 30px;
    line-height: 30px;
  }
  hr {
    width: 94%;
  }
  .text-area {
    width: 100%;
  }
}
@media (max-width: 320px) {
  h2 {
    font-size: 24px;
    line-height: 25px;
  }
  hr {
    width: 89%;
  }
}
