.people-block {
  position: relative;
  width: 33%;
}
.people {
  float: right;
  width: 50%;
}
.people-back {
  position: absolute;
  bottom: 0;
  top: auto;
  left: 0;
  right: auto;
  width: 95%;
  z-index: -1;
}
