.select {
  padding-left: 1.2vw;
  text-align: center;
  border: 1px solid #eaedf0;
  outline-color: rgba(128,128,128,0.54902);
  color: grey;
  border-radius: 7px;
  font-family: myriadpro-regular;
  width: 100%;
  height: 100%;
  background-color: #eaedf0;
}
.button {
  font-family: myriadpro-regular;
  height: 44px;
  cursor: pointer;
  font-size: 16pt;
  border-radius: 7px;
  color: white;
  cursor: pointer;
  background: linear-gradient(to bottom, #76bf71, #21832e);
  animation: button-alt .3s;
}
.button:hover {
  animation: button .3s;
  animation-fill-mode: forwards;
}
.button:active {
  filter: brightness(110%)!important;
}
@keyframes button {
  0% {
    box-shadow: 0 0 0 0 #456f17;
    filter: brightness(100%);
  }
  90% {
    box-shadow: 1px 1px 5px 1px #456f17;
  }
  100% {
    box-shadow: 1px 1px 5px 1px #456f17;
    filter: brightness(106%);
  }
}
@keyframes button-alt {
  0% {
    box-shadow: 1px 1px 5px 1px #456f17;
    filter: brightness(106%);
  }
  80% {
    box-shadow: 0 0 0 0 #456f17;
  }
  100% {
    box-shadow: 0 0 0 0 #456f17;
    filter: brightness(100%);
  }
}
.unactive {
  color: grey;
  background: #f0f0f0;
  animation: button-unactive;
}
.unactive:hover, .unactive:active {
  filter: brightness(100%)!important;
  box-shadow: 0 0 0 0 #456f17!important;
  cursor:inherit;
}
.calc-button {
  width: 100%;
  height: 5vw;
  color: white;
  font-size: 2vw;
  border-radius: 1.3vw;
  margin-top: 6vw;
  font-family: myriadpro-regular;
  background-color: #73aa37;
  text-transform: uppercase;
  cursor: pointer;
}
.calc-button:hover {
  animation: button .3s;
  animation-fill-mode: forwards;
}
.calc-button:active {
  filter: brightness(110%)!important;
}
.map-button-1 {
  position: absolute;
  height: 54px;
  color: white;
  font-size: 16px;
  border-radius: 0;
  font-family: montserrat-regular;
  background-color: #d27a33;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 3;
  top: 535px;
}
.map-button-2 {
  position: absolute;
  height: 54px;
  color: white;
  font-size: 16px;
  border-radius: 0;
  font-family: montserrat-regular;
  background-color: #d27a33;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 3;
}
.download-button {
  cursor: pointer;
  border-radius: 30px;
  width: 224px;
  height: 57px;
  margin-top: auto;
  margin-bottom: auto;
  color: white;
  animation: wh-110-alt .5s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.download-button:hover {
  animation: wh-110 .5s;
  animation-fill-mode: forwards;
}
.loadP {
  text-transform: uppercase;
  font-size: 10px;
  font-family: montserrat-regular;
  text-align: left;
}
.download-p {
  font-family: montserrat-regular;
  font-size: 22px;
  text-align: left;
}
@media (min-width: 1921px) {
  .button {
    height: 45px;
    font-size: 20pt;
  }
  .download-button {
    border-radius: 44px;
    width: 290px;
    height: 75px;
  }
  .loadP {
    font-size: 13px;
  }
  .download-p {
    font-size: 27px;
  }
}
@media (max-width: 1100px) {
  .calc-button {
    height: 5vw;
  }
  .download-button {
    border-radius: 44px;
    width: 200px;
    height: 53px;
  }
}
@media (max-width: 900px) {
  .calc-button {
    height: 5vw;
  }
  .download-button {
    border-radius: 44px;
    width: 200px;
    height: 53px;
  }
}
@media (max-width: 500px) {
  .calc-button {
    height: 5vw;
  }
}
@media (max-width: 376px) {
  .calc-button {
    height: 5vw;
  }
}
