.select {
  padding-left: 1.2vw;
  text-align: center;
  border: 1px solid #eaedf0;
  outline-color: rgba(128,128,128,0.54902);
  color: grey;
  border-radius: 7px;
  font-family: myriadpro-regular;
  width: 100%;
  height: 100%;
  background-color: #eaedf0;
}
.button {
  font-family: myriadpro-regular;
  height: 40px;
  cursor: pointer;
  font-size: 13pt;
  border-radius: 7px;
  color: white;
  cursor: pointer;
  background: linear-gradient(to bottom, #76bf71, #21832e);
}
.unactive {
  color: grey;
  background: #f0f0f0;
}
.calc-button {
  width: 100%;
  height: 5vw;
  color: white;
  font-size: 2vw;
  border-radius: 1.3vw;
  margin-top: 6vw;
  font-family: myriadpro-regular;
  background-color: #73aa37;
  text-transform: uppercase;
  cursor: pointer;
}
.map-button {
  height: 54px;
  color: white;
  font-size: 16px;
  border-radius: 0;
  font-family: montserrat-regular;
  background-color: #d27a33;
  text-transform: uppercase;
  cursor: pointer;
}
.download-button {
  border-radius: 30px;
  width: 224px;
  height: 57px;
  margin-top: auto;
  margin-bottom: auto;
  color: white;
}
.loadP {
  text-transform: uppercase;
  font-size: 10px;
  font-family: montserrat-regular;
  text-align: left;
}
.download-p {
  font-family: montserrat-regular;
  font-size: 22px;
  text-align: left;
}
@media (min-width: 1921px) {
  .button {
    height: 45px;
    font-size: 20pt;
  }
  .download-button {
    border-radius: 44px;
    width: 290px;
    height: 75px;
  }
  .loadP {
    font-size: 13px;
  }
  .download-p {
    font-size: 27px;
  }
}
@media (max-width: 1100px) {
  .calc-button {
    height: 5vw;
  }
}
@media (max-width: 900px) {
  .calc-button {
    height: 5vw;
  }
}
@media (max-width: 500px) {
  .calc-button {
    height: 5vw;
  }
}
@media (max-width: 376px) {
  .calc-button {
    height: 5vw;
  }
}
